/* base css */

input.head-control-image {
	margin: 1px 1px 0px 1px;
	vertical-align: bottom;
}

select {
	margin-top: 2px;
}

/* id info */
u.vid {
	color: #666;
}

/* title */
td.title-container {
	padding-top: 2px;
	text-align: right;
}
span.title {
	color: #cc3333;
}
span.subtitle {
	color: #3333aa;
/*	font-weight: bold;*/
}
span.genre {
	color: #6666aa;
}
span.count {
	color: #cc3333;
}

/* thumbnail */
img.thumb {
	margin: 2px 4px 8px 2px;
	border: 1px solid #aaa;
}

input.control-button-up {
	margin: 8px 4px 4px 4px;
}

input.control-button-down {
	margin: 2px 4px;
}

/* tooltip */

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eeeef3;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

#tooltip h3 {
	border: 0;
	font-size: 100%;
	color: #000;
}

