/* base css */

/* id info */
u.vid {
	color: #999;
}

/* title */
td.title-container {
	padding-top: 2px;
	text-align: right;
}
span.title {
	color: #cc3333;
}
span.subtitle {
	color: #3333aa;
/*	font-weight: bold;*/
}
span.genre {
	color: #6666aa;
}
span.count {
	color: #cc3333;
}

/* thumbnail */
img.thumb {
	margin: 2px 4px 8px 2px;
	border: 1px solid #aaa;
}


