/* base css */

*{
	font-size: 12;
	font-family: "MS UI Gothic";
}
body{
	margin:0px;
	background-color:ThreeDFace;
	color:WindowText;
	cursor:default;
}
fieldset{
	padding: 4px;
}
#Menu{
	width:100%;
}
#divState{
	position:absolute;
	width:180px;
	left:expression(document.body.clientWidth-this.clientWidth-3);
	top:4px;
}
#Tab{
	width:100%;
}
#MovieControls {
	padding:4px 2px 0 2px;
/*	overflow:auto;*/
	width:100%;
/*	height:30px;*/
}
#TabContents{
	padding:2px 2px 2px 2px;
	overflow:auto;
	width:100%;
	height:expression(document.body.clientHeight-Menu.clientHeight-Tab.clientHeight-40);
}
#RequestHTML{
	overflow:auto;
	width:100%;
	height:expression(TabContents.clientHeight-RequestForm.clientHeight);
}

/* imag etc */

input.head-control-image {
	margin: 1px 1px 0px 1px;
	vertical-align: bottom;
	cursor: pointer;
}

select {
	margin-top: 2px;
}

/* id info */
u.vid {
	color: #666;
}

/* title */
td.title-container {
	padding-top: 4px;
	text-align: right;
}
span.title {
	color: #cc3333;
}
span.subtitle {
	color: #3333aa;
/*	font-weight: bold;*/
}
span.genre {
	color: #6666aa;
}
span.count {
	color: #cc3333;
}

img.requester-icon {
	margin: 0 9px 0 0;
}

/* thumbnail */
img.thumb {
	margin: 2px 4px 8px 2px;
	border: 1px solid #aaa;
}

input.control-button-up {
	margin: 8px 4px 4px 4px;
	cursor: pointer;
}

input.control-button-down {
	margin: 2px 4px;
	cursor: pointer;
}

/* comment tab */

div#CommentHTML span.no {
	font-weight: bold;
	color: #aa3333;
}
div#CommentHTML span.date {
	color: #3333aa;
}
div#CommentHTML span.id {
	color: #999;
}
div#CommentHTML span.video {
	cursor: pointer;
	text-decoration: underline;
	color: #3333aa;
}

/* video info tab */

div#VideoInformation span.mylist-name {
	color: #3333aa;
}

div#VideoInformation span.subtitle {
	color: #3333aa;
}

div#VideoInformation img {
	margin-bottom: 4px;
}

div#VideoInformation span {
	line-height: 120%;
}

div#VideoInformation div.tags span.locked {
	color: #aa3333;
}

/* status */

div#status {
	margin: 0;
	padding: 2px;
}

div#status p {
	margin: 0;
	padding: 2px 2px;
}

/* tooltip */

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eeeef3;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

#tooltip h3 {
	border: 0;
	font-size: 100%;
	color: #000;
}

